<html>

<head>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

    <div id="content"></div>
    <script type="text/template" id="templ-first">
    <table class="table table-bordered table striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(collection,function(model){%>
        <tr>

            <td> <%=model.name %></td>
            <td><%=model.email %></td>
            <td><%=model.phone %></td>
            <td><%=model.address %></td>
        </tr>
        <% })%>
    </tbody>
    </script>
    <script src="app.js"></script>
</body>

</html>